{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container col-3 h-100 start-border">
        <div class="row h-100">
            <div class="col-7 col-md-4 my-auto">
                <h1 class="start-bg display-4 logo-font text-white">
                    Start your coding journey today
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-button btn btn-lg rounded-0">Book Shop</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}