        <!-- Bootstrap -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All books dropdown -->
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="{% url 'books' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'books' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'books' %}" class="dropdown-item">All Books</a>
            </div>
        </li>
        <!-- Categories dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="categories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="categories-link">
                <a href="{% url 'books' %}?category=python" class="dropdown-item">Python</a>
                <a href="{% url 'books' %}?category=javascript" class="dropdown-item">Javascript</a>
                <a href="{% url 'books' %}?category=java" class="dropdown-item">Java</a>
                <a href="{% url 'books' %}?category=c_sharp" class="dropdown-item">C#</a>
                <a href="{% url 'books' %}?category=python,javascript,java,c_sharp" class="dropdown-item">All Categories</a>
            </div>
        </li>
        <!-- Author dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="author-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Author
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="author-link">
                <a href="{% url 'books' %}?sort=author&direction=asc" class="dropdown-item">A-Z</a>
                <a href="{% url 'books' %}?sort=author&direction=desc" class="dropdown-item">Z-A</a>
            </div>
        </li>
    </ul>
</div>